/* **************banner广告部分*************** */
.banner{
	margin-bottom:50px;
}
/***************页面主体***************/
#main{
	width:1170px;
	height:1030px;
}
#main #ads{
	width:100%;
	position:relative;
	left:1260px;
	transition: transform 1.5s linear;
}
#ads.hover{
	transform:translatex(-1170px);/*2D在x轴上位移，效果实现从右向左飞入*/
}
#ads .ad_item{
	position:relative;
	margin:5px;
	padding:0 5px;
}
#ads .ad_text{
  box-sizing:border-box;
	width:565px;
	height:265px;
	position:absolute;
	top:0px;
	left:5px;
	background:rgba(85, 85, 85, 0.8) none repeat scroll 0% 0%;;
	opacity:0;
	-webkit-transition:opacity .8s;
}
#ads .ad_item:hover .ad_text{
	display:block;
	opacity:1;
}
#ads .ad_text p{
	width:480px;
	height:55px;
	position:absolute;
  top:100px;
	left:50px;
	color: #fff;
}
/***新闻列表***/
#news_list{
  display:block;
	width:1135px;
	height:495px;
	margin-top:50px;
	position:relative;
	right:1060px;
	transition: transform 1.5s linear;
}
#news_list.hover{
	transform:translatex(1170px);
}
#news_list .news_item{
	border-top:1px solid #EBE8EB;
	padding:30px 0;
}
#news_list a{
	font-size:18px;
}
#news_list p{
	margin-top: 4px;
	font-size: 14px;
	line-height: 24px;
	color: #808080;
	margin-bottom: 6px;
}
