/*通用样式*/
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
	margin:0;
	padding:0;
	border:none;
	list-style:none;
}
img{vertical-align:bottom;}
a{
	color:#2B2B2B;
	text-decoration:none;
}
a:hover{
	color:#C40000;
}
.lf{float:left;}
.rt{float:right;}
/****清除浮动及浮动元素父元素高度****/
.clear:after{
	content:"";
	display:block;
	clear:both;
}
/* 通用样式 */
body{
	width:100%;
	font-size:12px;
	font-family:Microsoft YaHei;
	margin:0;
}
a{color:#000;text-decoration:none;}
li{list-style-type:none;}
/* ***************页面导航********************* */
.nav{
	width:100%;
	height:100px;
	background:#FFF;
}
.nav_wrp{
	width:1200px;
	margin:0 auto;
	margin-top:34px;
}
.logo{
	float:left;
	background:#FFF;
}
.title1{
	font-size:30px;
	color:#c40000;
	font-weight:bolder;
}
.title2{
	font-size:30px;
	color:#cccccc;
	font-weight:bolder;
}
.nav ul{
	float:right;
}
.nav ul li{
	float:left;
	width:64px;
	font-size:16px;
	margin-right:32px;
}
.nav ul li:hover a{
	color:#c40000;
}

/***footer***/
footer{
	background:#000;
	min-height:100px;
}
footer div.foot_box{
	width:1200px;
	margin:0 auto;
}
footer div.foot_box p{
	padding-top:30px;
	text-align:center;
}
div.foot_box b{
	color:#353535;
}
div.foot_box span{
	font-size:30px;
	line-height:30px;
	color:#C40000;
}
div.foot_box span>i{
	font-style:normal;
	color:#ccc;
	margin-left:10px;
}
div.foot_box ul{
	padding-left:350px;
}
div.foot_box li{
	margin-top:10px;
	float:left;
}
div.foot_box li a{
	color:#FFF;
	min-width:60px;
	margin:0 10px;
	line-height:50px;
	font-size:18px;
	display:block;
}
div.foot_box li a:hover{
	color:#c40000;
}

/***************验证***************/
.vali_Info{/* 页面初始，验证消息不显示 */
  display:none;
}
.txt_focus{/*当文本框获得焦点时穿上*/
  border:2px solid red;
  padding:none;
}/*当文本框失去焦点时脱下*/
.tishi{color:red;}
.vali_success,.vali_fail{
  background-repeat:no-repeat;
  background-position:left center;
}
/* 验证消息：验证通过时的样式 */
.vali_success{
  background-image:url("../images/ok.png");
  padding-left:20px;
  width:0px;height:20px;
  overflow:hidden;
  color:blue;
}
/* 验证消息：验证失败时的样式 */
.vali_fail{
  background-image:url("../images/warning.png");
  background-color:#ddd;
  color:Red;
  padding-left:30px;
}
/**表单**/
.hintText{
  color: #aaaaaa; font-style: italic;
}
.normalText{
  color: #000000;
}
